.ListContainer {
  margin-top: 3rem;
  max-height: 500px;
  overflow-y: auto;
  border-radius: 7px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  background-color: white;

  h4 {
    font-size: 1.5em;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
  }
}

.List {
  clear: both;
  padding: 0;
  margin-bottom: 0;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 7px;
  background-color: whitesmoke;

  & > li {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.75rem;
    transition: background-color 300ms ease-in-out,
      border-radius 300ms ease-in-out;

    & + li {
      border-top: 1px solid lightgray;
    }

    &:hover,
    &:focus-within {
      background-color: white;
      border-radius: 7px;
    }

    input {
      width: 100%;
      background-color: transparent;
      font-size: inherit;
      margin: 0;
      padding: 0.25rem 1rem;
      border: none;

      &:focus {
        outline: none;
      }
    }

    button {
      font-size: inherit;
      background-color: transparent;
      border: none;
      padding: 10px;
      cursor: pointer;
      transition: color 200ms ease-in-out;

      &:hover {
        color: gold !important;
      }

      &:disabled {
        opacity: 0.25;
        cursor: not-allowed;

        &:hover {
          color: inherit !important;
        }
      }

      &.Delete {
        color: aquamarine;

        i {
          transform: rotate(10deg);
        }
      }
    }
  }
}
