.InputContainer {
  display: flex;

  gap: 7px;

  input {
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    border: 2px solid darkgray;
    padding: 8px 15px;
    box-shadow: none;
    border-radius: 7px;

    &:focus {
      outline: 3px solid gold;
    }
  }

  button {
    font-size: 1.5em;
    width: 70px;
    border: none;
    border-radius: 7px;
    padding: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 300ms, color 300ms, background-color 300ms;

    &.Add {
      background-color: aquamarine;
      color: white;

      &:hover {
        background-color: white;
        color: aquamarine;
        border-color: aquamarine;
      }
    }

    &.Delete {
      color: white;
      background-color: red;

      &:hover {
        background-color: white;
        border-color: red;
        color: red;
      }
    }

    &:focus {
      outline: 3px solid gold;
    }

    &:disabled {
      background-color: lightgray !important;
      color: #333 !important;

      &:hover {
        border-color: transparent;
        cursor: not-allowed;
      }
    }
  }
}

.Clear {
  font-size: 1em !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  height: 90%;
  transform: translateY(-50%);
  right: 0;
  width: 50px !important;
  color: darkgray;
  background-color: transparent;

  &:focus {
    outline: none !important;
    color: gold;
  }
}

.Input {
  position: relative;
  width: 100%;
}
